/* Jesse Adamu 
   styles.css
   11/17/2023 */

   @import url("https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap");

body {
    margin: 0;
    padding: 0;
    font-family: Poppins, Serif;
	  font-weight: 500;
	  font-size: 15px;
	  line-height: 1.7;
    background-color: #dbf26e;
    background-image: linear-gradient(319deg, #dbf26e 0%, #61fa74 37%, #1cfdd6 100%);
    ;
  }
  
.nav {
  width: 100%;
  height: 65px;
  position: fixed;
  line-height: 65px;
  text-align: center;
}

.nav div.logo {
  float: left;
    width: auto;
    height: auto;
    padding-left: 3rem;
    position: fixed;
}

.nav div.logo a {
    text-decoration: none;
    color: black;
    font-size: 2.5rem;
}

.nav div.logo a:hover {
    color: #00E676;
}

.nav div.main_list {
    height: 65px;
    float: right;
}

.nav div.main_list ul {
  width: 100%;
  height: 65px;
  display: flex;
  list-style: none;
  margin: 0;
  padding: 0;
}

.nav div.main_list ul li {
  width: auto;
  height: 65px;
  padding: 0;
  padding-right: 2rem;
}

.nav div.main_list ul li a {
  text-decoration: none;
    color: black;
    line-height: 65px;
    font-size: 1.5rem;
}

.nav div.main_list ul li a:hover {
    color: #00E676;
}

span {
  color: #00E676;
  padding-right: 10px;
}


.nav-link {
  font-size: 1.2rem;
  letter-spacing: 0.05rem;
  position: relative;
  background: -webkit-linear-gradient(
    var(--primary-color-alt),
    var(--primary-color)
  );
  -webkit-background-clip: text;
  -webkit-text-fill-color: black;
}
.nav-link::before {
  content: "";
  background: linear-gradient(var(--primary-color), var(--primary-color-alt));
  width: 100%;
  height: 0.05rem;
  position: absolute;
  left: 0;
  bottom: 0;
  transform: scaleX(0);
  transform-origin: bottom right;
  transition: transform 150ms;
}
.nav-link:hover::before {
  transform: scaleX(1);
  transform-origin: bottom left;
}
.menu-toggle {
  display: none;
}
.bx-menu,
.bx-x {
  cursor: pointer;
  background: -webkit-linear-gradient(
    120deg,
    var(--primary-color-alt),
    var(--primary-color)
  );
  -webkit-background-clip: text;
  -webkit-text-fill-color: black;
  display: none !important;
}

/* -------- HOME SECTION -------------- */
.container-section-1 {
  background-color: var(--dark-color);
  display: flex;
}

.slogan {
  text-align: left;
 
}
/* .home-computer-container {} */

.slogan .company-title {
  background: -webkit-linear-gradient(
    120deg,
    var(--primary-color-alt),
    var(--primary-color)
  );
  -webkit-background-clip: text;
  -webkit-text-fill-color: black;
 
  font-size: 1.5rem;
  font-weight: 600;
  margin-left: 10rem;
}
.slogan .company-slogan {
  background: -webkit-linear-gradient(
    120deg,
    var(--primary-color-alt),
    var(--primary-color)
  );
  -webkit-background-clip: text;
  -webkit-text-fill-color: black;
  margin-top: 1rem;
  font-size: 1.2rem;
  font-weight: 400;
  line-height: 1.8rem;
  margin-left: 10rem;

}

.slogan .company-slogan2 {
  background: -webkit-linear-gradient(
    120deg,
    var(--primary-color-alt),
    var(--primary-color)
  );
  -webkit-background-clip: text;
  -webkit-text-fill-color: black;
  padding-top: 15rem;
  font-size: 1.2rem;
  font-weight: 400;
  line-height: 1.8rem;
  margin-left: 10rem;
}

/* Solid border */
hr.solid {
  border-top: 3px solid;
  color: black;
  margin-left: 15rem;
  margin-right: 15rem;
  margin-top: 5rem;
  margin-bottom: 5rem;
}

.home-computer-container {
  padding-top: 11rem;
  padding-right: 5rem ;
}

.jesse1 {
  width: 100%;
  max-width: 100%;
}

.jesse2 {
  display: block;
  margin-left: auto;
  margin-right: auto;
  width: 50%;
}

figcaption {
  
  color: black;
  font-style: italic;
  padding: 2px;
  text-align: center;
}



.navTrigger {
  display: none;
}

.nav {
  padding-top: 20px;
  padding-bottom: 20px;
  -webkit-transition: all 0.4s ease;
  transition: all 0.4s ease;
}

.myH3 {
  text-align: center;
}
.myP {
text-align: center;
font-size: 20px;
}

div.main {
  padding: 100px;
}

/* Media qurey section */

@media screen and (min-width: 768px) and (max-width: 1024px) {
  .container {
      margin: 0;
  }
}

@media screen and (max-width:768px) {
  .navTrigger {
      display: block;
  }
  .nav div.logo {
      margin-left: 10px;
  }
  .nav div.main_list {
      width: 100%;
      height: 0;
      overflow: hidden;
  }
  .nav div.show_list {
      height: auto;
      display: none;
  }
  .nav div.main_list ul {
      flex-direction: column;
      width: 100%;
      height: 100vh;
      right: 0;
      left: 0;
      bottom: 0;
      background-position: center top;
  }
  .nav div.main_list ul li {
      width: 100%;
      text-align: right;
  }
  .nav div.main_list ul li a {
      text-align: center;
      width: 100%; 
      font-size: 3rem;
      padding: 20px;
  }
  .nav div.media_button {
      display: block;
  }
}


/*/////////////////////////// ABOUT ME ////////////////////////////*/

.about01 {
  text-align: center;
  padding-bottom: 30px;
}

table{
  margin: auto;
  width: max-content;
  
}

th, td {
  padding: 12px;
  text-align: left;
  border-bottom: 1px solid #ddd;
}

th {
  background-color: #f2f2f2;
}

tr {
  background-color: #015d00;
  background-image: linear-gradient(314deg, #015d00 0%, #04bf00 74%);
}

tr:hover {
  background-color: #f5f5f5;
}

.main {
  padding-bottom: 5px;
}

/*////////////////////////// CONTACT FORM /////////////////////////*/

.form{
  padding-top: 10%;
}
form {
  padding-top: 20px;
  text-align: center;
}

.contact-title {
  text-align: center;
}

.feedback-input {
  color:white;
  font-family: Helvetica, Arial, sans-serif;
  font-weight:500;
  font-size: 18px;
  border-radius: 5px;
  line-height: 22px;
  background-color: transparent;
  border:2px solid green;
  transition: all 0.3s;
  padding: 13px;
  margin-bottom: 15px;
  width:60%;
  box-sizing: border-box;
  outline:0;
}

.feedback-input:focus { border:2px solid #CC4949; }

textarea {
  height: 150px;
  line-height: 150%;
  resize:vertical;
}

[type="submit"] {
  font-family: 'Montserrat', Arial, Helvetica, sans-serif;
  width: 60%;
  background: green;
  border-radius:5px;
  border:0;
  cursor:pointer;
  color:white;
  font-size:24px;
  padding-top:10px;
  padding-bottom:10px;
  transition: all 0.3s;
  margin-top:-4px;
  font-weight:700;
  text-align: center;
}
[type="submit"]:hover { background:black; }





.contactinfo {
  list-style-type: none;
  margin: 0;
  
  align-items: center;
  font-weight: bold;
  color: black; 
}

.H3 {
  text-align: center;
}

li h3{
  padding-right: 30px;
  padding-left: 30px;
}


.navbar1 {
  list-style-type: none;
  margin: 0;
  padding: 0;
  padding-top: 19px;
  float: right;
  font-weight: bold;
  color: black; 
}

iframe {
  border-radius: 10px 10px 10px 10px;
}


main {
  padding-top: 5%;
}

footer {
  padding: 100px;
  text-align: center;
  background-color:darkgreen;
}

footer a{
  color: white;
  padding-bottom: 0;
}

