/* Jesse Adamu 
   styles.css
   11/17/2023 */

   @import url("https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap");

   * {
    margin: 0;
    padding: 0;
  }
  
body {
    margin: 0;
    padding: 0;
    font-family: Poppins, Serif;
	  font-weight: 500;
	  font-size: 15px;
	  line-height: 1.7;
    background-color: #f1f2f6;
    background-image: linear-gradient(315deg, #f1f2f6 0%, #c9c6c6 74%);
  }


  html {
    scroll-behavior: smooth;
  }
  
  p {
    color: rgb(85, 85, 85);
  }

  
  
  /* TRANSITION */
  
  a,
  .btn {
    transition: all 300ms ease;
  }
  
  /* DESKTOP NAV */

  nav,
  .nav-links {
    display: flex;
  }
  
  nav {
    justify-content: space-around;
    align-items: center;
    height: 17vh;
  }
  
  .nav-links {
    gap: 2rem;
    list-style: none;
    font-size: 1.5rem;
  }
  
  a {
    color: black;
    text-decoration: none;
    text-decoration-color: white;
  }
  
  a:hover {
    color: #088e05;
    text-decoration: underline;
    text-underline-offset: 1rem;
    text-decoration-color: rgb(181, 181, 181);
  }
  
  .logo {
    font-size: 2rem;
  }

  .logo a {
    text-decoration: none;
  }
  
  .logo span {
    color:#088e05;
  }
  
  /* HAMBURGER MENU */
  
  #hamburger-nav {
    display: none;
  }
  
  .hamburger-menu {
    position: relative;
    display: inline-block;
  }
  
  .hamburger-icon {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    height: 24px;
    width: 30px;
    cursor: pointer;
  }
  
  .hamburger-icon span {
    width: 100%;
    height: 2px;
    background-color: black;
    transition: all 0.3 ease-in-out;
  }
  
  .menu-links {
    position: absolute;
    top: 100%;
    right: 10;
    background-color: white;
    width: fit-content;
    
    max-height: 0;
    overflow: hidden;
    transition: all 0.3 ease-in-out;
  }
  
  .menu-links a {
    display: block;
    padding: 10px;
    text-align: center;
    font-size: 1.5rem;
    color: black;
    text-decoration: none;
    transition: all 0.3 ease-in-out;
  }
  
  .menu-links li {
    list-style: none;
  }
  
  .menu-links.open {
    max-height: 300px;
  }
  
  .hamburger-icon.open span:first-child {
    transform: rotate(45deg) translate(10px, 5px);
  }
  
  .hamburger-icon.open span:nth-child(2) {
    opacity: 0;
  }
  
  .hamburger-icon.open span:last-child {
    transform: rotate(-45deg) translate(10px, -5px);
  }
  
  .hamburger-icon span:first-child {
    transform: none;
  }
  
  .hamburger-icon span:first-child {
    opacity: 1;
  }
  
  .hamburger-icon span:first-child {
    transform: none;
  }
  
/* -------- HOME SECTION -------------- */
section {
  padding-top: 4vh;
  height: 27vh;
  margin: 0 10rem;
  box-sizing: border-box;
  min-height: fit-content;
}

#container-section-1 {
  display: flex;
  justify-content: center;
  gap: 5rem;
  position: relative;
}

.slogan {
  justify-content: center;
}

/* .home-computer-container {} */

.port-slogan{
  text-align: left;
  font-size: 25px;
}

.port-title {
  text-align: center;
  font-size: 80px;
}

.port-slogan2 {
  text-align: center;
  font-size: 40px;
}

.port-slogan3 {
  text-align: center;
  font-size: 50px;
}

.port-slogan4 {
  text-align: center;
  font-size: 20px;
  
}


.home-computer-container {
  display: flex;
  height: 600px;
  width: 600px;
  margin: auto 0;
}

.container-section-1 {
  padding: 50px;
}

/* Solid border */
hr.solid {
  border-top: 3px solid #bbb;
  margin-left: 10rem;
  margin-right: 10rem;
  margin-top: 20px;
  margin-bottom: 20px;
}





/* Welcome section */
div.main {
  text-align: center;
  padding-top: 20px;
  padding-bottom: 50px;
  
}



/* Media qurey section */

@media screen and (max-width: 1200px) {
  #desktop-nav {
    display: none;
  }
  #hamburger-nav {
    display: flex;
  }

  #container-section-1{
    display: flex;
  }
 
  section {
    height: fit-content;
    margin: 0 5%;
  }

  .home-computer-container {
    width: 200px;
    height: 200px;
    margin: 0 auto 2rem;
  }

  hr.solid {
    border-top: 3px solid #bbb;
    margin-left: 7rem;
    margin-right: 7rem;
    margin-top: 20px;
    }

    .port-slogan3, .port-slogan4 {
      text-align: center;
    }

    .port-slogan3 {
      padding-top: 30px;
    }

    .about-containers {
      flex-wrap: wrap;
      justify-content: center;
    }

    .section-container {
      justify-content: center;
    }


}


@media screen and (max-width: 1800px) {

  #container-section-1 {
    height: 60%;
    position: relative;
    display: flex;
  }


  section {
    height: fit-content;
    margin: 0 5%;

  }
  
  .home-computer-container {
    width: 600px;
    height: 600px;
  }

  .about-containers {
    flex-wrap: wrap;
  }

  .port-slogan3 {
    padding-top: 40px;
  }

 
}

@media screen and (max-width: 1600px) {

  #container-section-1 {
    height: 70%;
    position: relative;
    display: flex;
  }


  section {
    height: fit-content;
    margin: 0 5%;
    display: flex;
  }
  
  .home-computer-container {
    width: 600px;
    height: 600px;
  }

  .about-containers {
    flex-wrap: wrap;
  }

  hr.solid {
    border-top: 3px solid rgb(155, 153, 153);
    margin-left: 7rem;
    margin-right: 7rem;
    margin-top: 70px;
    }


}

@media screen and  (max-width: 600px) {

  #container-section-1 {
    height: 80%;
    margin-bottom: 10px;
    position: relative;
    display: block;
  }

  section {
    height: fit-content;
    margin: 0 5%;
    display: block;
  }


  .home-computer-container {
    width: 300px;
    height: 500px;
  }
  
  .about-containers {
    flex-wrap: wrap;
  }

  hr.solid {
  border-top: 3px solid #bbb;
  margin-left: 5rem;
  margin-right: 5rem;
  margin-top: 20px;
  }




}

/*/////////////////////////// ABOUT ME ////////////////////////////*/


.main1{
  text-align: center;
  padding-top: 3%;
}
.myH3 {
  text-align: center;
  font-size: 45px;
}


#about {
  position: relative;
}

.about-containers {
  gap: 2rem;
  margin-bottom: 2rem;
  margin-top: 2rem;
  
}

.about-details-container {
  justify-content: center;
  flex-direction: column;
}

.about-containers,
.about-details-container {
  display: flex;
}

.about-pic {
  border-radius: 2rem;
}


.details-container {
  padding: 1.5rem;
  flex: 1;
  background: white;
  border-radius: 2rem;
  border: rgb(53, 53, 53) 0.1rem solid;
  border-color: rgb(163, 163, 163);
  text-align: center;
}



.details-container1 {
  padding: 1.5rem;
  flex: 1;
  background: white;
  border-radius: 2rem;
  border: rgb(53, 53, 53) 0.1rem solid;
  border-color: rgb(163, 163, 163);
  text-align: center;
}

.details-container1:hover {
  background-color: rgb(118, 249, 118);
}

.section-container {
  gap: 4rem;
  justify-content: center;
}

.section__pic-container {
  height: 400px;
  width: 400px;
  margin: auto 0;
}

a.expolink {
  text-decoration: none;
}

.icon {
  cursor: pointer;
  height: 2rem;
}

.btn-container{
  display: flex;
  justify-content: center;
  gap: 2rem;
  margin-bottom: 10px;
  margin-top: 10px;
}
.btn-color-2:hover {
  background-color: #088e05;
}

.btn-color-2 {
  border-radius: 30px;
  padding: 10px;
  font-weight: 400;
  font-size: 40px;
  font-family: poppins;
  background-color: white;
  border-color:#088e05;
}


/*////////////////////////// CONTACT FORM /////////////////////////*/

.form{
  padding-top: 5%;
}
form {
  padding-top: 20px;
  text-align: center;
  padding-bottom: 50px;
}

.contact-title {
  text-align: center;
}

.feedback-input {
  color:white;
  font-family: Helvetica, Arial, sans-serif;
  font-weight:500;
  font-size: 18px;
  border-radius: 20px;
  line-height: 22px;
  background-color: transparent;
  border:2px solid green;
  transition: all 0.3s;
  padding: 13px;
  margin-bottom: 15px;
  width:60%;
  box-sizing: border-box;
  outline:0;
}

.feedback-input:focus { border:2px solid #CC4949; }

textarea {
  height: 150px;
  line-height: 150%;
  resize:vertical;
}

[type="submit"] {
  font-family: 'Montserrat', Arial, Helvetica, sans-serif;
  width: 60%;
  background: green;
  border-radius:20px;
  border:0;
  cursor:pointer;
  color:white;
  font-size:24px;
  padding-top:10px;
  padding-bottom:10px;
  transition: all 0.3s;
  margin-top:-4px;
  font-weight:700;
  text-align: center;
}
[type="submit"]:hover { background:black; }


.contactinfo {
  list-style-type: none;
  margin: 0;
  
  align-items: center;
  font-weight: bold;
  color: black; 
}


.H3 {
  text-align: center;
}

li h3{
  padding-right: 30px;
  padding-left: 30px;
}


.navbar1 {
  list-style-type: none;
  margin: 0;
  padding: 0;
  padding-top: 19px;
  float: right;
  font-weight: bold;
  color: black; 
}


main {
  padding-top: 5%;
}




.footer-links {
  display: flex;
  justify-content: center;
  list-style: none;
  gap: 2rem;
  font-size: 1.5rem;
}

.port-slogan5 {
  text-align: center;
  font-size: 30px;
}

/* Social media */

.socialicons {
  display: flex;
  position:relative;
  margin: 0;
  padding-top: 1px;
  justify-content: center;
}

.socialicons li {
  list-style: none;
 
}

.socialicons li a {
  width: 80px;
  height: 80px;
  background-color: transparent;
  text-align: center;
  line-height: 80px;
  font-size: 35px;
  margin: 0 10px;
  display: block;
  border-radius: 50%;
  position: relative;
  overflow: hidden;
  border: 3px solid #fff;
  z-index: 1;
}

.socialicons li a .icon {
  position: relative;
  color: #262626;
  transition: .5s;
  z-index: 3;
}

.socialicons li a:hover .icon {
  color: #fff;
  transform: rotateY(360deg);
}

.socialicons li a:before {
  content: "";
  position: absolute;
  top: 100%;
  left: 0;
  width: 100%;
  height: 100%;
  background: #f00;
  transition: .5s;
  z-index: 2;
}

.socialicons li a:hover:before {
  top: 0;
}

.socialicons li:nth-child(1) a:before{
  background: #4078c0;
}

.socialicons li:nth-child(2) a:before{
  background: #333;
}

.socialicons li:nth-child(3) a:before {
  background: linear-gradient(115deg, #f9ce34, #ee2a7b, #6228d7);
}
